.navbar {
    min-height: 10vh;
    background-color: #f0f4e3 !important;
    max-height: 10vh !important;


}
#navbar-logo {
    width: 75px;
    height: 54px;

}
#navbar-logo-second {
    width: 80px;
    height: 54px;

}
