.navbar {
    min-height: 65px;
    background-color: #f0f4e3 !important;
    max-height: 65px !important;
    border-bottom: 1px solid lightgray;

}
#navbar-logo {
    width: 120px;
    height: 50px;
}
