/* .navbar {
    min-height: 65px;
    background-color: #f0f4e3 !important;
    max-height: 65px !important;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid gray;
}

.navbar-logo {
    height: 55px;
}
#navbar-logo-second {
    height: 55px;
}

.login-button {
    display: block;
}

.login-icon {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .login-button {
        display: none;
    }

    .login-icon {
        display: block;
    }
    
} */

.navbar {
    background-color: #f0f4e3 !important;
    border-bottom: 1px solid gray;
}

@media (min-width : 992px) {
    .nav-dropdown {
        display: none;
    }
}


.navbar-logo {
    height: 55px;
}

.nav-mid-logo {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
}

.azure-btn {
    color: white !important;
    border-color: #48a23f !important;
    background-color: #48a23f !important;
}

.azure-btn:hover {
    background-color: #1d3c34 !important;
}

.navbar{
    /*   z-index should be above .close-navbar-toggler */
      z-index:2;
    }
    .close-navbar-toggler{
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:1;
      cursor:pointer;
    }
    .close-navbar-toggler.collapsed{
      z-index:-1;
    }