.posts-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
    color : #1d3c34 !important;

}

.search-container:hover {
    border-color: black !important;
}

.search-container {
    padding: 0 !important;
    height: 100% !important;
    border-radius: 15px;
    border: 1px solid #48a23f;
}


.add-post {
    color : #1d3c34 !important;
    background-color: #F0F4E3 !important; 
    border-color: #48a23f !important;
}
.add-post:hover {
    background-color: #48a23f !important;
}

.search {
    font-size: 15px;
}

.search-field {
    width: 85% !important;
}

.search-button {
    width: 15% !important;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.search-button:hover {
    background-color:  #48a23f !important;
}


.main-content-container {
    width: 100%;
    height: 85%;
    max-height: 600px;
}

.main-content-left {
    width: 80%;
    height: 100%;
    position: relative;
}

.left-inner-1 {
    height: 10%;
    width: 100%;
}

.left-inner-item-1 {
    width: 20%;
    height: 100%;
}

.left-inner-item-2 {
    width: 80%;
    height: 100%;
}

.left-inner-2 {
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.main-content-right {
    width: 20%;
    height: 100%;
}

.right-inner-1 {
    height: 100%;
    width: 100%;
}

.data-posts {
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    font-size: 2vh;
}

.data-posts:hover {
    background-color: white;
}

.data-items-posts {
}

.list-group-item.active {
    
    background-color: #1d3c34 !important;
    border-color: #1d3c34 !important;
}

.list-group-main {
    color : #1d3c34 !important;

}

/* .modal-content {
    position: fixed !important;
    width: 100% !important;
    right: 0;
} */
