.main-content {
    position: relative;
    height: 100%;
    margin-left: 64px !important;
    top : 82px !important;
    background-color: #f0f4e3 !important;
}

@media (max-width : 991px) {
    .main-content{
        margin: 0 !important;
        margin-left: 0 !important;
        top: 90px !important;
    }
}