.main-content {
    position: relative;
    height: calc(100% - 82px);
    margin-left: 64px !important;
    top : 82px !important;
    background-color: #f0f4e3 !important;
}

@media (max-width : 991px) {
    .main-content{
        margin: 0 !important;
        margin-left: 0 !important;
        top: 90px !important;
    }
}

.container {
    min-height: 100vh;
}